<div class="hero-unit">
	<div id="searchbox">
		<h1 id="title">movieSQL</h1>
		<form action="/search-results" method="post">
			<input type="text" name="movie_title" placeholder="enter movie title"/>
			<button class="btn"> search </button>
		</div>
</div>