<!DOCTYPE html>
<html>
	<head>
		<title>Movies</title>
		<link rel="stylesheet" href="/bootstrap.css">
		<link rel="stylesheet" href="/style.css">
	</head>

	<body>
		<div>
			<%= yield %>
		</div>
	</body>
</html>
